@import "./base.scss";
.smurfProfile {
  @include cloud();
  background-color: white;
  gap: 0.75rem;
  box-shadow: 0.2rem 0.2rem 0.5rem 0.1rem shadow($b1),
    -0.1rem -0.1rem 0.1rem inset transparentize($b2, 0.6);
  color: mix($b1, $b2);
  h2 {
    font-size: 2rem;
  }
}
.navigateBack {
  font-size: 1.1rem;
  margin: 1rem;
  background: $b2;
  border-radius: 50%;
  box-shadow: 0 0 1rem 1rem $b2;
  color: $b1;
}
